<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Categories</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/myStyle.css"
          th:href="@{/css/myStyle.css}"/>


</head>
<body>
<div class="container spacer">



    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Photo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:if=${categories.empty}>
        	<td colspan="2">No categories available</td>
        </tr>
        <tr th:each="c : ${categories}"></tr>
	        <td th:text="${c.idCategorie}"></td>
	        <td th:text="${c.nomCategorie}"></td>
	        <td th:text="${c.description}"></td>
        <td th:text="${c.photo}"></td>
        </tbody>
    </table>
</div>
</body>


</html>